.row:nth-child(odd) {
  background-color: #b3c4ff;
  border-top-left-radius: 0.5rem;
}

.row {
  padding: 5rem;
  border-radius: 5rem;
}

tr > td {
  padding: 0.8rem;
  font-weight: 600;
}

.start {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.end {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  text-decoration: underline;
}

.img {
  display: flex;
  gap: 0.5rem;
}

.link {
  color: black !important;
}

.edit {
  cursor: pointer;
}
