.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.274);
}

.content {
  background-color: #fbfbfb;
  border-radius: 0.5rem;
  padding: 1rem;
}
