.container {
  padding: 2rem;
  width: 90%;
  text-align: center;
  /* background-color: red;  */
}

.heading {
  color: #5076ff;
}

.table {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
